*{margin:0;padding:0;}
body{
	background-image: url(../images/bg/bg2.jpg);
	padding-top: 10px;
	background-attachment: fixed;
	background-repeat: repeat;
}
.navigation li {
 
  margin: 10px 0;
  padding: 1em;
  transition: all .5s;
  width: 100%;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  -moz-box-flex: auto;
  flex: auto;
  -webkit-transition: all .5s;
  /* Safari */
}
p{
	color:#03F;
}
